/* Định dạng vùng chứa slider */
.home-banner-container {
    width: 100%;
    max-width: 1600px;
    margin: 0 auto;
    border-bottom-right-radius: 12px;
    border-bottom-left-radius: 12px;
    padding: 0;
    position: relative;
}

/* Slide cơ bản */
.home-banner-slide {
    position: relative;
    width: 100%;
    height: 500px; /* Chiều cao banner */
    overflow: hidden;
}

/* Hình nền banner */
.home-banner {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Nội dung trên banner */
.home-content {
    text-align: center;
    color: white;
    background: rgba(0, 0, 0, 0.5); /* Nền mờ cho nội dung nổi bật */
    padding: 20px 30px;
    border-radius: 8px;
    max-width: 80%;
}

.home-content h1 {
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 10px;
}

.home-content p {
    color: aliceblue;
    font-size: 1.2rem;
    margin-bottom: 15px;
}

/* Nút bấm "Mua Ngay" */
.btn-shop {
    display: inline-block;
    padding: 10px 20px;
    font-size: 1rem;
    font-weight: bold;
    color: white;
    background-color: #6A0DAD;
    border-radius: 5px;
    text-decoration: none;
    transition: 0.3s ease-in-out;
}


/* Dấu chấm điều hướng chỉ dành cho banner */
.home-banner-slider .slick-dots {
    bottom: 20px;
}

.home-banner-slider .slick-dots li button:before {
    font-size: 14px;
    color: rgb(166, 125, 248); /* Màu mặc định */
    opacity: 0.7;
    transition: color 0.3s ease-in-out;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
    background-color: #f9f8fb;
    border-radius: 50%;
}

.home-banner-slider .slick-dots li.slick-active button:before {
    opacity: 1;
    color: #6A0DAD;
}


/* Responsive */
@media (max-width: 1024px) {
    .home-banner-slide {
        height: 400px;
    }

    .home-content h1 {
        font-size: 2rem;
    }

    .home-content p {
        font-size: 1rem;
    }

    .btn-shop {
        padding: 8px 16px;
        font-size: 0.9rem;
    }
}

@media (max-width: 768px) {
    .home-banner-slide {
        height: 350px;
    }

    .home-content {
        padding: 15px 20px;
    }

    .home-content h1 {
        font-size: 1.8rem;
    }

    .home-content p {
        font-size: 0.9rem;
    }
}

@media (max-width: 480px) {
    .home-banner-slide {
        height: 280px;
    }

    .home-content h1 {
        font-size: 1.5rem;
    }

    .home-content p {
        font-size: 0.8rem;
    }

    .btn-shop {
        font-size: 0.8rem;
        padding: 6px 12px;
    }
}
